@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    color: brown;
}

.custom-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd; 
    background-color: #f9f9f9;
}

.product-name {
    margin-right: 20px; 
    flex-grow: 1; 
    font-size: 1.1rem; 
    font-weight: bold; 
}


.remove-form {
    margin: 0; 
}

.remove-form button {
    background-color: #dc3545; 
    border: none;
}

.remove-form button:hover {
    background-color: #c82333;
    cursor: pointer;
}

.custom-list-item:last-child {
    border-bottom: none; 
}
